.footer_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-darkneLight);
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 15px;
  overflow: hidden;
}

.footer_top_content {
  display: flex;
  gap: 20px;
}

.footer_pages {
  display: flex;
  flex-direction: column;
}
.footer_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 10px;
  max-width: 200px;
}

.footer_list_item {
  font-size: 1rem;
}

.footer_utility {
  display: flex;
  flex-direction: column;
}

.footer_brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  align-items: center;
}

.footerBrand_container {
  max-width: 300px;
}

.footerBrand_imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer_slogan {
  line-height: 1.5;
  text-align: center;
  margin: 20px 0 30px 0;
}

.footer_socialsList {
  display: flex;
  gap: 15px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.footer_contact_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.footer_contact_title {
  margin-bottom: 30px;
}

.footer_separator {
  margin: 40px 0 30px 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-bg-shade);
}

.footer_contact_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
