.footer_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-darkneLight);
  background-image: url("/public/back_imgs/Vector.svg"),
    url(/public/back_imgs/Vector2.svg);
  background-position: left 5px bottom 0px, right 5px top 0px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100px 130px, 130px 140px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px 20px;
  overflow: hidden;
}

.footer_top_content {
  display: flex;
  gap: 20px;
}

.foooter_blocks_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.foooter_block {
  flex-direction: column;
  gap: 20px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 10px;
  max-width: 200px;
}

.footer_list_item {
  font-size: 1rem;
  max-width: 120px;
  color: #8f7d6a;
}

.footer_list_item:hover {
  color: var(--a-hover-color);
}

.footer_brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  align-items: center;
}

.footerBrand_container {
  max-width: 300px;
}

.footerBrand_imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer_slogan {
  line-height: 1.5;
  text-align: center;
  margin: 20px 0 30px 0;
}

.footer_socialsList {
  display: flex;
  gap: 15px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.footer_contact_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.footer_contact_title {
  margin-bottom: 30px;
}

.footer_separator {
  margin: 20px 0 20px 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-bg-shade);
}

.footer_contact_data_contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_contact_data_address {
  line-height: 1.5;
}

.footer_bottom_content {
  text-align: center;
}

@media (max-width: 1024px) {
  .footer_wrapper {
    background-position: left 0 bottom 0, right 0 top 0;
    background-size: 90px 120px, 110px 120px;
  }
}

@media (max-width: 768px) {
  .footer_top_content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-position: left 0 bottom 0, right 0 top 0;
    background-size: 70px 90px, 80px 90px;
  }
  .foooter_blocks_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_block {
    margin-right: 50px;
  }
  .footer_block:last-child {
    margin-right: 0;
  }
}
