.header_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: var(--bg-color-light);
  /* overflow: hidden; */
}

.header_container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  width: 100%;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header_nav {
  display: flex;
  align-self: center;
  gap: 1rem;
}

.header_nav_item:hover {
  color: var(--a-hover-color);
}

.header_search {
  background-color: transparent;
}

.header_actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_mobile_burger_icon {
  display: none;
}

@media (max-width: 768px) {
  .header_container {
    padding: 15px 15px;
  }
  .header_nav {
    display: none;
  }
  .header_mobile_burger_icon {
    display: block;
  }
}
