.header__logo::before {
  content: "";
  background-image: url("/public/logo/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 5%;
  height: 3%;
}
