* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;

  display: flex;
  flex-direction: column;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
