:root {
  --bg-color-light: #eeede7;
  --bg-color-darkneLight: #e8e6de;
  --bg-color-white: #fff;
  --styled-elements: #e2dfcf;
  --text-color-heading: #503217;
  --btn-color: rgba(80, 50, 23, 0.8);
  --body-text: #8f7d6a;
  --badge-bg: #d3744a;
}
