.section_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  background-image: url("/back_imgs/Group.svg");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.section_container {
  display: flex;
  padding: 50px 0;
  /* background-color: var(--bg-color-darkneLight); */
  background-color: #fff;
}

.hero_section {
  display: flex;
  justify-content: space-between;
}

.hero_text,
.hero_img {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_title {
  max-width: 400px;
  margin-bottom: 20px;
}

.hero_desc {
  max-width: 300px;
  margin-bottom: 30px;
}
